/*.custom-select {*/
/*    width: 120px; !* 设置宽度 *!*/
/*    border-radius: 4px; !* 圆角 *!*/
/*    background-color: #1890ff; !* 背景颜色 *!*/
/*    color: white; !* 字体颜色 *!*/
/*    border: none; !* 取消边框 *!*/
/*}*/

/*.custom-select .ant-select-selector {*/
/*    background-color: #1890ff; !* 选择框背景颜色 *!*/
/*    color: white; !* 选择框文字颜色 *!*/
/*    border: none !important; !* 取消选择框边框 *!*/
/*    display: flex;*/
/*    align-items: center; !* 垂直居中 *!*/
/*}*/

/*.custom-select .ant-select-arrow {*/
/*    color: black; !* 下拉箭头颜色 *!*/
/*}*/

/*.custom-select .ant-select-item {*/
/*    color: black; !* 下拉选项文字颜色 *!*/
/*}*/

/*.custom-select .ant-select-item-option-active {*/
/*    background-color: rgba(255, 255, 255, 0.2); !* 选中项的背景颜色 *!*/
/*}*/


.custom-select {
    width: 120px; /* 设置宽度 */
    border-radius: 4px; /* 圆角 */
    /*background-color: #1890ff; !* 背景颜色 *!*/
    color: white; /* 字体颜色 */
}

.custom-select .ant-select-selector {
    background-color: #1890ff !important; /* 选择框背景颜色 */
    color: white !important; /* 选择框文字颜色 */
    border: none !important; /* 取消选择框边框 */
    box-shadow: none !important; /* 移除阴影 */
    display: flex;
    align-items: center; /* 垂直居中 */
}

.custom-select .ant-select-selector:focus,
.custom-select .ant-select-selector:hover,
.custom-select .ant-select-selector:active {
    border: none !important; /* 取消聚焦、悬浮和激活态的边框 */
    box-shadow: none !important; /* 移除聚焦、悬浮和激活态的阴影 */
}

.custom-select .ant-select-arrow {
    color: black; /* 下拉箭头颜色 */
}

.custom-select .ant-select-item {
    color: black; /* 下拉选项文字颜色 */
}

.custom-select .ant-select-item-option-active {
    background-color: rgba(255, 255, 255, 0.2); /* 选中项的背景颜色 */
}
/* 下拉框，字号大小，小尺寸选择框 */
.small-select .ant-select-selector {
  font-size: 12px;
}
.small-select .ant-select-selection-item {
  text-align: left;
}
.small-select .ant-select-selector {
  justify-content: flex-start;
}
.small-select-dropdown .ant-select-item-option-content {
  display: flex;
  align-items: center;
  gap: 6px;
  text-align: left;
  font-size: 12px;
}
.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  display: inline-block;
}
.status-active {
  background-color: #22c55e;
}
.status-offline {
  background-color: #64748b;
}
.status-removed {
  background-color: #e70606;
}
