


/*sider*/
@media (min-width: 992px) {
    .aside {
        position: fixed;
        top: 74px;
        left: 0;
        bottom: 0;
        z-index: 101;
        overflow: hidden;
        width: 265px;
        transition: left .3s ease;
        border-right: var(--bs-aside-border);
    }
}
/*全局头部*/
#app-header-bar{
        height: 64px;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
.ant-layout-content{
    /* margin-top: 64px; */
     --ant-table-body-sort-bg: rgba(250, 250, 252, 1); /* 你想要的背景色 */
}
.border-radius-3 {
    border-radius: 3px;
}
.ant-app .ant-layout-sider {
  /* background-color: #0d0e12; */
  background-color: rgb(0, 20, 40);
}
.ant-app .ant-menu-light{
    /* background-color: #0d0e12; */
    background-color: rgb(0, 20, 40);
    margin-top: 6px;
    height: 42px;
}

.ant-menu-light .ant-menu-item a{
    /* color: #b6b9c8; */
    color: #bbb;
    font-size: 14px !important;
    font-weight: 500;
    font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-family: Inter, Helvetica, sans-serif; */
    line-height: 1.75;
    
    /* padding-left: 24px; */
}
.ant-menu-light .ant-menu-item a:hover{
    color: #fff;
}
.ant-app .ant-menu-light .ant-menu-item-selected{
    transition: color .2s ease;
    background-color: #2d8cf0;
    border-radius: 0.2rem;
    color: #fff !important;
}
.ant-app .ant-menu-light .ant-menu-item-selected a{
    color: #fff !important;
}
.ant-menu .ant-menu-submenu .ant-menu a::before{
/* .ant-menu .ant-menu-item a::before{ */
    position:relative;
    /* content: "•";           /使用中点字符 */
     /* color: #4a4b68;         可自定义颜色 */
     color: #bbb;
    margin-right: 0.625rem;      /* 点和文字之间的间距 */
    font-size: 16px;
}
.ant-app .ant-menu-light .ant-menu-submenu  .ant-menu-item-selected a::before{
    /* content: "•";           使用中点字符 */
    color: #fff;             /* 可自定义颜色 */
    margin-right: 0.625rem;      /* 点和文字之间的间距 */
    font-size: 16px;
}

/*子菜单*/
.ant-menu-light .ant-menu-submenu-title{
    color: #bbb;
    font-size: 14px !important;
    font-weight: 500;
    font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-family: Inter, Helvetica, sans-serif; */

}
.ant-menu .ant-menu-item a:hover::before{
    color: #fff;
}
.ant-menu-light .ant-menu-submenu-title:hover{
    color: #fff;
}
.ant-menu .ant-menu-submenu-expand-icon, .ant-menu .ant-menu-submenu-arrow, .ant-menu .ant-menu-submenu-title .ant-menu-item-icon svg {
    /* color: #4a4b68; */
    color: #bbb;
    font-size: 24px;
    
}
.ant-menu .ant-menu-submenu-arrow::before, .ant-menu .ant-menu-submenu-arrow::after{
    width: calc(calc(18px / 7 * 5) * 0.6) !important;
    height: calc(calc(18px / 7 * 5) * 0.15) !important;
}
.ant-menu .ant-menu-item .ant-menu-item-icon svg, .ant-menu .ant-menu-submenu-title .ant-menu-item-icon svg,
.ant-menu-ant-menu-submenu.ant-menu-submenu-inline .ant-menu-submenu-title .ant-menu-item-icon svg
 {
    display: inline-block;
    font-size: 20px;
    /* color: #4a4b68; */
    color: #bbb;
}


/*选中状态的菜单*/
.ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title,
.ant-menu .ant-menu-item.ant-menu-item-selected .ant-menu-item-icon svg,
.ant-menu-submenu-selected .ant-menu-submenu-title .ant-menu-item-icon svg,
.ant-menu-submenu-open.ant-menu-submenu-selected .ant-menu-submenu-title .ant-menu-item-icon
{
    color: #fff;
}
.card-wapper {
    boxShadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
    border: 1px solid #F1F1F4;
    margin-bottom: 2.5rem;
    /* height: '100%';
    display: 'flex';
    flexDirection: 'column'; */
    height:'440px';
}
.card-wapper .ant-card-head{
    border: none;
}

.filter-button .radio-button{
    background: none !important;
    border: none !important;
    font-size: 12px;
    color: #99a1b7;
    margin-right: 25px;
}
.filter-button .radio-button::before, .filter-button .radio-button::after{
    background: none !important;
    border: none !important;
}
.filter-button .radio-button.active{
   color: #2d8cf0;
}


.pt-1{
    padding-top: .25rem !important;
}
/* 字颜色*/
.text-gray-500{
    color: #99A1B7 !important;
}
.text-gray-800{
    color: #252F4A !important;
}
.text-gray-900{
    color: #071437 !important;
}
.background-gray-200{
    background: #F1F1F4 !important;
}
.fw-semibold
 {
    font-weight: 500 !important;
}
.fw-bold {
    font-weight: 600 !important;
}

.fs-4 {
    font-size: 1.25rem !important;
}
.fs-1hx {
    font-size: 1.5rem !important;
}
.fs-2hx {
    font-size: 2.5rem !important;
}
.fs-3x {
    font-size: 3rem !important;
}

.fs-5 {
    font-size: 1.05rem !important;
}
.fs-6 {
    font-size: 1.025rem !important;
}
.fs-7 {
    font-size: .95rem !important;
}
.fs-8 {
    font-size: .725rem !important;
}
.fs-9 {
    font-size: .725rem !important;
}
.ant-statistic .ant-statistic-title{
    font-size: 13px !important;
}

/*表格样式*/
.css-dev-only-do-not-override-yta69t.ant-table-wrapper .ant-table-thead >tr>th,.ant-table-wrapper .ant-table-thead >tr>th{
    font-size: 14px;
    /* color: #99A1B7; */
}
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-item-icon{
    /* color: #4a4b68; */
    color: #bbb;
    font-size: 20px;
}
.ant-menu-submenu.ant-menu-inline.ant-menu-submenu-open.ant-menu-submenu-selected > .ant-menu-submenu-title > .ant-menu-item-icon{
    color: #fff !important;
}
/* .ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-item-icon{

} */
.ant-table-wrapper .ant-table.ant-table-middle .ant-table-tbody>tr>td{
    /* font-size: 14px; */
     font-size: 13px;
    /*color: #99A1B7;
    font-weight: 400 !important;
}
.ant-table-wrapper .ant-table-tbody >tr >td.ant-table-cell{
    font-size: 13px;
    font-weight: 400 !important;
    color: #99A1B7; */
    /* font-size: .95rem !important; */
}
/*ant-picker 日期选择器*/
.ant-picker .ant-picker-input{
    background-color: #fff;
    border-color: #d9d9d9;
    padding: 2px;
}
.ant-picker .ant-picker-input > input{
    font-size: 12px;
    background-color: #fff;
    /* background-color: #F9F9F9; */
    border-color: #d9d9d9;
    color: #4B5675;
    transition: color .2s ease;
    
}
.ant-picker .ant-picker-input > input:hover{
    border-color: #1E90FF;
}
.ant-select-multiple.ant-select-lg .ant-select-selection-overflow{
    background-color: #fff;
}
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector,.ant-select,.custom-select .ant-select-selector{
    /* background-color: #F1F1F4 !important; */
    background-color: #fff;
    border-color: #d9d9d9 !important;
    color: #4B5675 !important;
    transition: color .2s ease;
}

.filterRadio .ant-radio-button-wrapper{
    background: none;
    border: none !important;
    color: #333;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    min-width: 85px;
    margin-right: 25px;
}
.filterRadio .ant-radio-button-wrapper.ant-radio-button-wrapper-checked{
    color: #1E90FF !important;
}
.filterRadio .ant-radio-button-wrapper .ant-radio-button.ant-radio-button-checked{
    background: #f0f6fe !important;
    color: #1E90FF !important;
    border-radius: 25px !important;
}

.filterRadio .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before{
    background: none !important;
    color: #1E90FF !important;
}
.ant-radio-button-wrapper:not(:first-child)::before{
    background: none !important;
}

.longdataTable  .ant-table-thead > tr > th{
    /* border: 1px solid #c1c1c1 !important; 或自定义颜色*/
    /* background-color: #a7dff5; 可选：添加背景色 */
    background-color: #f9fafb;
    font-size: 13px;
    font-weight: 500;
    /* border-right: 1px solid #e0e0e0; */
    white-space: nowrap;
    padding: 8px 12px;
    border-top: 1px solid #fefefe;
}
.longdataTable  .ant-table-thead > tr .ant-table-cell.border-bottom{
    border-bottom: 1px solid #e0e0e0 !important;
    background-color: #ebebeb;
}
.css-dev-only-do-not-override-yta69t.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
    /* background: none !important; */
    height: 2em;
    /* background-color: #e0e0e0; */
}

.longdataTable .text-sm{
    font-size: 12px;
}

.ant-table-content .ant-table-cell{
    font-size: 13px;
}

.exportIcon{
    color: #333;
    font-weight: bolder;
    font-size: small;
}
.exportButton{
    color: #333;
    font-weight: 500;
    font-size: 13px
}

/*表单*/
.ant-form-large .ant-form-item .ant-form-item-label>label{
    font-size: 12px;
}
.editModal  .ant-input-outlined{
    font-size: 12px;
    padding: 7px;
}
.editModal .ant-form-item{
    margin-bottom: 7px;
}
.ant-btn-variant-solid{
    font-size: 12px;
    background-color: #2d8cf0;
}
.ant-btn-variant-solid :hover{
    background-color: #3d95fb;
}
.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover{
    background-color: #3d95fb;
}
.filter-form{
    font-size: 12px;
}
.filter-form .ant-input,.ant-input-affix-wrapper >input.ant-input{
    font-size: 12px;
}
.filter-form .ant-input :focus,.ant-input-affix-wrapper >input.ant-input:focus{
    border-color: #1E90FF;
}
.filter-form .ant-select .ant-select-selector{
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}


:root {
    --ant-primary-color: #722ED1;
    --ant-success-color: #52c41a;
    --ant-warning-color: #faad14;
    --ant-error-color: #ff4d4f;
    --ant-info-color: #1890ff;
  
    /* --ant-border-color: #d9d9d9;
    --ant-text-color: #000000e0; */
    --ant-button-group-border-color: #2d86e5;/* #722ED1*/
    --ant-button-default-hover-color: #2d86e5;
    --ant-button-default-hover-border-color: #2d86e5;
    --ant-button-default-active-bg: #ffffff;
    --ant-button-default-active-color: #0c78eb;
    --ant-button-default-active-border-color: #0c78eb;
    
    --ant-date-picker-active-border-color: #2d86e5;
    --ant-date-picker-hover-border-color: #0c78eb;
  }

  .ant-input-affix-wrapper:not(.ant-input-disabled):hover,.ant-picker:hover,.ant-btn-default:hover{
    border-color: #1E90FF !important;
    color: #1E90FF !important;
    background-color: #fff !important;
  }

  .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-selected, .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title-selected, .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-selected {
    color: #1E90FF !important;
    background-color: #f0f6fe !important;
    font-size: 12px;
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #1E90FF;
    border-color: #1E90FF;
}
.custom-select .ant-select-arrow,.custom-select .ant-select-selection-placeholder {
    color: #fff;
    font-size: 12px;
}
.ant-btn{
    font-size: 12px !important;
}
.ant-select-selection-item{
    font-size: 12px !important;
}
/* 固定 */
.sticky-header .ant-table-thead {
    position: fixed;
    top: 60px;
    z-index: 100;
    background: #fff;
  }

  .custom-ant-input {
    border: 1px solid #ccc !important;
    transition: border 0.3s ease;
  }
  
  .custom-ant-input:hover {
    border: 1px solid #4096ff !important;
  }
  
  .custom-ant-input:focus,
  .custom-ant-input-focused {
    border: 1px solid #1677ff !important;
    box-shadow: none !important;
  }


  /* 头部选中项的字体颜色 */
.header-custom-select .ant-select-selection-item {
    color: #fff; /* 修改为你想要的颜色 */
  }
  
  /* 头部鼠标 hover 时的颜色 */
  .header-custom-select .ant-select-selector:hover .ant-select-selection-item {
    color: #fff;
  }