.even-row {
    /*background-color: #f5f5f5; 浅灰色*/
    background-color: #ffffff; /* 白色 */
}

.odd-row {
    background-color: #ffffff; /* 白色 */
}
.ant-table-container{
    border: 1px solid rgba(239, 239, 245, 1);
    border-radius: 3px;
}

.ant-table-cell {
    font-size: 0.85rem;

}
.ant-table-cell p{
  margin-bottom: 0.3em;
}

.ant-table-wrapper{
  --ant-table-body-sort-bg: rgba(250, 250, 252, 1) !important; /* 你想要的背景色 */
}
.ant-table-thead > tr > th {
  background-color: rgba(250, 250, 252, 1) !important; /* 表头背景 */
}
/* 托管费占比列表头样式 */
.fee-ratio-header {
  background-color: rgba(250, 250, 252, 1) !important; /* 表头背景 */
  padding-top: 12px !important; /* 控制高度 */
  padding-bottom: 12px !important; /* 控制高度 */
  vertical-align: middle !important;
}
.fee-ratio-title {
  font-size: 0.85rem; /* 标题字号略大一些使更醒目 */
  font-weight: 600; /* 加粗 */
  color: #25252D;
}
.ant-table-wrapper table{
    font-family: XPK, Arial, sans-serif !important;
}
.ant-table-wrapper td.ant-table-column-sort{
    background-color: rgba(250, 250, 252, 1) !important; /* 你想要的背景色 */
}
.ant-table-wrapper .ant-table-tbody >tr >th, .ant-table-wrapper .ant-table-tbody >tr >td{
    /*background-color: rgba(250, 250, 252, 1) !important; /* 你想要的背景色 */
    border-bottom: 1px solid rgba(239, 239, 245, 1);
}

/* 托管费占比高/低背景色 */
.fee-ratio-high {
  background-color: #fff1f0 !important; /* 浅红 */
}
.fee-ratio-low {
  background-color: #f6ffed !important; /* 浅绿 */
}

/* 托管费占比列表头样式 */
.fee-ratio-header {
  /* 可根据需要设置表头单元格的最小宽度或对齐 */
}
.fee-ratio-title {
  font-size: 0.75rem; /* 标题字号 */
  font-weight: 500; /* 略微加粗 */
  color:  #25252D;
}

.data-summary .ant-table-css-var [class^="ant-table"] {
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  border-top: none !important;
  /* border-bottom: 1px solid rgba(229, 231, 235, 1) !important; */
}
/* .data-summary >tbody >tr{
    border-bottom: 1px solid #f3f4f6 !important;
} */
table-wrapper .ant-table-tbody >tr >td{
    padding: 0.7rem;
}

.data-summary .ant-table-container table>thead>tr>th{
    padding: 0.7rem;
}
.data-summary .ant-table-container table>tbody>tr>td:first-child{
   width: 120px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
