.bg-blue-500{background-color: rgb(59 130 246 /1)  !important;}
.text-blue-500{
    color: rgb(59 130 246 /1) !important;
}

.bg-orange-500{background-color: rgb(249 115 22 / 1)  !important;}
.text-orange-500{color: rgb(249 115 22 / 1) !important;}

.bg-yellow-500{background-color: #e1b53f !important;}
.text-yellow-500{color: #e1b53f !important;}


.weekReport {
    color: #000;
}
.weekReport h3{
    font-size: 16px;
    /* color: #585858; */
}

.weekReport .custom-table .ant-table-column-title,.weekReport .custom-table .ant-table-cell{
    font-size: 13px;
}

