.headerSection{
    background: '#fff';
    padding: '24px'; border-radius: 8; margin-bottom: 24;
}
.headerSection .title{
    color: #000;
    font-size: 0.725rem;
    font-weight: bolder;
}
.headerSection .stat-value{
    text-align: center;
    font-size: 1rem;
    color: #5884e9;
    font-weight: bolder;
}
.headerSection .ant-statistic-content{
    text-align: center;
    line-height: 1rem;
}
.headerSection .stat-value-blue{
    color: #5884e9;
}
.headerSection .stat-value-green{
    color: #52c41a;
}
.headerSection .vertical-divider {
    width: 1px;
    height: 1.5rem;
    background-color: rgb(231, 231, 233);
    align-self: center;
  }
  .headerSection .border{
    margin-bottom: 16;
    background: #f9fafe;
    border: rgba(238,238,242) solid 1px;
    border-radius: 0.625rem;
    padding: 0.625rem 1rem
}
.custom-table .ant-table-thead .ant-table-cell{
    margin-bottom: 16;
    background: #f9fafe;
    margin-right: -1px;
    padding: 0.625rem 1rem
}

.longdataTable  .custom-table .ant-table-container{
    font-size: 0.875rem;
}
  
  @media (min-width: 768px) {
    .text-responsive{
        /* font-size: 0.75rem; */
        font-size: 0.75rem;
    }
  }
  @media (min-width: 1200px) {
    .text-responsive {
      font-size: 0.875rem;
    }
  }
  @media (min-width: 1400px) {
    .text-responsive {
      font-size: 1rem;
    }
  }